ion-header {
 font-family: 'San Francisco Display', Arial, sans-serif;
 color: black;
 font-size: 20px;
 weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.welcome-section img {
  width: 100%;
  height: auto;
}

.welcome-section {
  position: relative;
  text-align: center;
}

.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.welcome-content h2 {
  font-family: 'San Francisco Display', Arial, sans-serif;
  color: black;
  margin-right: 7px;

}

.welcome-content ion-img {
  max-width: 150px;
  max-height: 150px;
}

.welcome-container button {
  display: block;
  margin: 0 auto;
}

.about-section {
position: relative;
text-align: center;
background-color: rgba(255, 255, 255, 0.8);
line-height: 2;
padding: 75px;
border-radius: 10px;
}

.about-section h3 {
 font-family: 'San Francisco Display', Arial, sans-serif;
 color: black;
 weight: bold;
}

.about-section p {
  font-size: 16px;
  font-family: 'San Francisco Display', Arial, sans-serif;
  color: #555;
}

.services-section img {
  width:100%;
  height: auto;
}

.services-section {
  position: relative;
  text-align: center;
}

.services-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: rgba(255, 255, 255, 0.8);*/
}

.cssbuttons-io-button {
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'San Francisco Display', Arial, sans-serif;
  background-color:  #639cd9;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.cssbuttons-io-button:hover {
  background-color: #3771AF;
  cursor: pointer;
}

.icon {
  margin-left: 8px;
  display: flex;
  align-items: center;
}


.testimonial-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.testimonial-card img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.testimonial-content {
  padding: 20px;
}

.testimonial-name {
  margin: 0;
  font-weight: bold;
  font-family: 'San Francisco Display', Arial, sans-serif;
}

.testimonial-designation {
  margin: 0;
  font-style: italic;
  font-family: 'San Francisco Display', Arial, sans-serif;
}

.testimonial-message {
  margin: 20px 0;
  white-space: normal;
 font-size: 16px;
  font-family: 'San Francisco Display', Arial, sans-serif;
  color: #555;
}

.clinic-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.section-title {
  text-align: center;
}

.clinic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.clinic-subtitle {
  margin-bottom: 10px;
}

.clinic-map {
  /* Add CSS styles for the map container */
}

.contact-section {
  text-align: center;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-group {
  margin-bottom: 10px;
}


ion-card {
  min-width: 50% !important;
  --ion-background-color: #ffffff !important;
    background: #f1f7fe;
     overflow: hidden;
     border-radius: 16px;
}

ion-card-content {
font-family: 'San Francisco Display', Arial, sans-serif;
height: 100%;
height: 100%;

}

ion-list ion-item {
color: #205083;
font-size: 16px;
font-weight: 500;
--background: white;
font-family: 'San Francisco Display', Arial, sans-serif;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: start;

}
