<ion-header class="header-style">
  <ion-toolbar>
    <ion-img class="logo" src="/assets/logo-transparent-png.png"></ion-img>
  </ion-toolbar>
</ion-header>
<div class="container">
  <div class="info">
    Start Time
    <ion-datetime-button datetime="startDatetime"></ion-datetime-button>
    End Time
    <ion-datetime-button datetime="endDatetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [(ngModel)]="startDatetime" [preferWheel]="true" hourCycle="h12" hourValues="09,10,11,0,1,2,3,4,5"
                      id="startDatetime"
                      minTime="09:00"
                      minuteValues="0"
                      presentation="date-time"
                      value="startDatetime"></ion-datetime>

      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [(ngModel)]="endDatetime" [preferWheel]="true" hourCycle="h12" hourValues="09,10,11,0,1,2,3,4,5"
                      id="endDatetime"
                      minTime="09:00"
                      minuteValues="0"
                      presentation="date-time"

                      value="endDatetime"></ion-datetime>

      </ng-template>
    </ion-modal>

  </div>


  <div class="confirm">

    <ion-button (click)="confirmOnClick()" color="success" disabled="{{!canConfirm()}}" mode="ios">{{ 'CONFIRM' }}
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>

    <ion-button (click)="cancelOnClick()" color="danger" icon-right ion-button mode="ios" round>{{ 'CANCEL' }}
    </ion-button>
  </div>

</div>
