<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Signup Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ userInformation.firstName }} {{ userInformation.lastName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ userInformation.bio }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-label>{{ userInformation.email }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-label>{{ userInformation.phoneNumber }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="signup-client">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
