.container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

ion-card{
  min-width: 50% !important;
  margin: 0 !important;
}

.back{
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%) !important;
}
