ion-menu-button{
  --color: #000000 !important;
  --color-hover: #3880ff !important;
}
.header{
  --ion-background-color: #000000 !important;
  padding-right: 10px !important;
}
ion-toolbar{
  background: #ffffff !important;
  padding-left: 1%;
  padding-right: 1%;
}

:host {
  background: #ffffff !important;
}
