
<ion-app>

  <ion-header  class="ion-padding-top">
    <ion-toolbar>

    <div class="header-nav">
      <ion-img src="/assets/logo-transparent-png.png" class="logo"> </ion-img>
      <div>
        <ion-nav-link class="ion-margin-end" (click)="routeToLogin()">
          Login
        </ion-nav-link >
        <ion-nav-link (click)="routeToSignup()">
          Signup
        </ion-nav-link></div>
    </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>

  <ion-router-outlet>

  </ion-router-outlet>
  </ion-content>
  <ion-footer>
  <ion-text>Copyright © 2023 MacPaw Inc. 601 Montgomery Street, Suite 1400, San Francisco, CA 94111 tel: +1-(877)-5-MACPAW</ion-text>
</ion-footer>
</ion-app>

