
<ion-app>

  <ion-router-outlet id="main-content">
  </ion-router-outlet>


    <ion-menu contentId="main-content" class="menu" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-img src="/assets/logo-transparent-png.png" class="logo"> </ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-list *ngIf="!isAuthenticated">
        <ion-menu-toggle auto-hide="true" >
          <ion-item (click)="routeToLogin()"><ion-icon name="log-in-outline"></ion-icon>Login</ion-item>
          <ion-item (click)="routeToSignup()"><ion-icon name="people-outline"></ion-icon>Signup</ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list *ngIf="isAuthenticated ">
        <ion-menu-toggle auto-hide="true" >
          <ion-item (click)="routeToHome()"><ion-icon name="home-outline" mode="ios"></ion-icon>Home</ion-item>
          <ion-item (click)="routeToServices()"><ion-icon mode="ios" name="cog-outline"></ion-icon>Services</ion-item>
          <ion-item *ngIf="!isStaff" (click)="routeToBook()"><ion-icon mode="ios" name="calendar-outline"></ion-icon>Book Appointment</ion-item>
          <ion-item *ngIf="!isStaff" (click)="routeToManage()"><ion-icon mode="ios"name="file-tray-full-outline"></ion-icon>My Bookings</ion-item>
          <ion-item *ngIf="isStaff" (click)="routeToManage()"><ion-icon mode="ios"name="calendar-outline"></ion-icon>
            <div style="width: 100%; display: flex; justify-content: space-between">View Schedule<ion-badge *ngIf="pendingNotification > 0" color="warning">{{pendingNotification}}</ion-badge></div></ion-item>
          <ion-item *ngIf="!isStaff" (click)="routeToBio()"><ion-icon mode="ios" name="person-outline"></ion-icon>
            <div style="width: 100%; display: flex; justify-content: space-between">Profile<ion-badge *ngIf="isStaff" color="primary">Staff</ion-badge> </div></ion-item>
          <ion-item *ngIf="isStaff" (click)="routeToDoctorBio()"><ion-icon mode="ios" name="person-outline"></ion-icon>
            <div style="width: 100%; display: flex; justify-content: space-between">Profile<ion-badge *ngIf="isStaff" color="primary">Staff</ion-badge> </div></ion-item>
          <ion-item (click)="logout()"><ion-icon mode="ios" name="log-out-outline"></ion-icon>Logout</ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>

  <div *ngIf="notficationsSuscriptionScomplete">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="isAuthenticated">
    <ion-fab-button (click)="openModal()" >
      <ion-icon name="{{getIcon}}" color="{{getColor}}" id="noti"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  </div>

</ion-app>
