
ion-list ion-item {
  color: #205083;
  font-size: 16px;
  font-weight: bold;
  --background: white;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 3%;
  padding-bottom: 10%;
}

.welcome-section img {
  width: auto;
  height: auto;
}

.welcome-content ion-img {
  display: flex;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
}

.welcome-section {
  position: relative;
  text-align: center;
}

.inner-scroll{
  padding: 0px !Important;
}


ion-card{
  min-width: 50% !important;
  --ion-background-color: #ffffff !important;

}

ion-content {
  --background: rgba(255, 255, 255, 0.8);
  background-image: url('../../../assets/icon/bgSignup.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cssbuttons-io-button {
  background: #639cd9;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: bold;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #3771AF;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  width: 100%;
  padding-right: 3.3em;
  margin-top: 5em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #3771AF;
  right: 0.3em;
  transition: all 0.3s;
}

.title{
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 1px;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #205083;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

ion-content {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(56 128 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(100%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(100%);
  }
}
