.blank {
  height: 70px;
  text-align: right;
  margin-right: 3%;
  margin-top: 15px;
  font-family: Consolas, serif;
}

ion-item {
  --background: transparent;
  font-weight: 600;
  font-size: 120%;
  color: #000133;
  margin-bottom: 0.7em;
}

ion-content {
  --background: rgba(255, 255, 255, 0.7);
  background-image: url('../../../assets/icon/bg1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-select {
  white-space: nowrap;
  margin-left: auto;
}

.imgDefault {
  pointer-events: none;
}

.align-right {
  text-align: right;
}

ion-grid {
  white-space: nowrap;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-label {
  animation: fade-in 0.75s ease-in-out;
}

.imgEdit {
  opacity: 0.5;
}

.pencilIcon {
  position: absolute;
  top: 85%;
  left: 95%;
  transform: translate(-40%, -40%);
  font-size: 25px;
  color: darkblue;
  background-color: #f4faf9;
  padding: 8px;
  border-radius: 50%;
}

.errorLabel {
  font-size: 0.7em;
  margin-top: -1.5em;
}

.errorLabelT {
  font-size: 1em;
  margin-top: -1.2em;
}

.field {
  margin-left: auto;
}

.saveButton {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 20px;
}


@media  (max-width: 576px) {

  ion-content {
    background-image: url('../../../assets/icon/bg2.jpg');
  }

  ion-item {
    font-size: 16px;
  }

  .saveButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .profileImg {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .pencilIcon {
    position: absolute;
    top: 85%;
    left: 70%;
    font-size: 150%;
  }

  .errorIcon {
    margin-bottom: -5px;
  }

  .title {
    font-size: 235%;
    text-align: center;
    font-family: "Segoe UI Semibold", cursive;
    position: inherit;
    color: #000133;
  }

  .titleCol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }

  .titleCol::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    height: 1.5px;
    background-color: lightsteelblue;
  }

  ion-img {
    width: 50%;
    height: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 50%;
    overflow: hidden;
  }
}

@media (min-width: 576px) and (max-width: 992px) {

  .profileImg {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(0%, 30%);
  }

  .title {
    font-size: 40px;
    font-family: "Franklin Gothic light";
    color: #000133
  }

  .titleCol {
    position: relative;
  }

  .titleCol::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 1.5px;
    background-color: lightsteelblue;
  }

  ion-img {
    width: 160px;
    height: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 50%;
    overflow: hidden;
  }
}

@media (min-width: 992px) {

  .profileImg {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(0%, 30%);
  }

  .titleCol {
    position: relative;
  }

  .titleCol::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    height: 1.5px;
    background-color: lightsteelblue;
  }

  .title {
    font-size: 50px;
    font-family: "Franklin Gothic light";
    color: #000133
  }

  ion-img {
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 50%;
    overflow: hidden;
  }
}
