.footer{
  --ion-background-color: #000000 !important;
  display: flex;
  align-items: end;
  box-shadow: none !important;
  padding-top: 5%;

}

.footer-content{
  padding-inline: 3%;
}

.scroll {
}
